# Dependências necessárias para rodar o DTI Service no Windows
flet
psutil
pyinstaller

# Para gerar o executável:
# &"$env:APPDATA\Python\Python314\Scripts\flet.exe" pack main.py --name "DTI Service" --icon "src\assets\dti_service.ico" --uac-admin --add-data "src/assets;src/assets" --noconfirm
